@model Data.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeusProdutos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeusProdutos)
            @Html.ActionLink("Ver todos", "ReadAllProducts", new { id = Model.Id }) |
            @Html.ActionLink("Add Product", "AddProduct", new { id = Model.Id }) |
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Update", "Update",  new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>
